

.navbar-logo{
    margin-top: -20px;
    margin-left: 0%;
    z-index: 2;
}

.navbar-links ul  {
list-style: none;
}

.navbar-links {
margin-left: 40%;;
margin-top: 52px ; 

}

.navbar-links ul li {
display: inline;
padding:  12px;

}


.navbar-links ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: roboto;
    font-weight: 400;
    }

    .navbar-links ul li a:hover {
         transition-duration: 0.6s;
        color: #602429;

        }

        .navbar-links ul li a:visited {
            text-decoration: none;
            }

            .navbar-links ul li a:active {
                text-decoration: none;
                }

.rodape{
max-width:  100%;
max-height: 100%;
margin-top: 50px;
background-color: #2196f3;
}

.rodape h5, p{
  color: #fff;
  }

.copyright{

  background-color: #1a78c2;
}

.carrosel{
  margin-top: 50px;
  max-width:  100%;
  max-height: 100%;
  margin-top: 1px;
}

.container{
    width: 420px;
}

.card {
margin-top: 10px;
}

.card-body p{
text-align: center;
color: #000;
margin-top: 15px;
}

.card-body h4{
text-align: center;
color: #000;
}

.card-body h3{
    text-align: center;
    color: #000;
    font-size: 19px;
  }

.card-body a{
    margin-left: 23%;
    text-align: center;
    color: #fff;
 }


.view{
   background-color: brown;
}

.btn {
    background-color: #1a78c2;
    border-radius: 20px;
    margin-top: 15px;
  }
  
  .btn:hover {
    box-shadow: inset 0 0 0 20rem var(--darken-1);
    background-color: #283884;;
    color: white;
  }


 .cadastro{
position: relative;
  margin-left: 35%;
  margin-top: 0%;

}

.cadastro h1{
font-size: 22px; 
margin-left: 10%;

  }

  .cadastro input[type=submit]{
    cursor: pointer;
    background: #1a78c2;
    border: 1px solid #283884;
    color:white;
    padding: 3px 5px;
    font-family: helvetica;
    font-weight: 700;
    border-radius: 10px;
   
}

.cadastro input[type=email],
.cadastro input[type=text],
.cadastro textarea
{
  border: 1px solid rgb(158, 212, 247);
  border-radius: 5px;
  background: #F0F7FB;

    
}