
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
 }

.center {
    max-width: 1100px;
    padding: 1.5%;
    margin: 0 auto;
    
}


header{
    background-image: linear-gradient(#4169E1,#4169E1,#1E90FF) ;
    padding: 16px 0;
    
}

.logo {
    
    float: left;
    color: white;
    margin-top: -10px;
    margin-left: 54px;
  }

.logo h2{
    font-size: 38px;
    font-weight: 600;
    font-family: helvetica; 
}


form.form-login{
    float: right;
  }


.form-login .form-element{
    display: inline-block;
   padding: 15px 0px;
   
}

.form-login ul{
    list-style: none;
    float: left;
    padding: 10px 2px;
   
}
.form-login ul li
{
    display: inline; 
    padding: 9px;
 
}
.form-login ul li a:link {
    text-decoration: none;
    color:white;
    border-color: black;
 }

.form-login ul li a:visited {
  text-decoration: none;
}

.form-login ul li a:hover {
 transition-duration: 2s; 
 color: #FF0000;
 text-decoration: underline;
 }

.form-login ul li a:active {
  text-decoration: underline;
}



#rodape{
    margin-top: 10px;
	width:100%;
	height:200px;
	background-image: linear-gradient(#1E90FF, #4169E1, #4169E1) ;
	position:absolute;
}


.acesso-rapido h3{
    font-size: 20px;
    font-weight: 600;
    font-family: helvetica; 
    margin-top:22px;
    margin-left: 62%; 
    color: white;

}

.acesso-rapido ul{
    list-style: none;
    padding: 0% 62%;
   
}
.acesso-rapido ul li{
    font-size: 12px;
    color: white;

 
}

.redes-sociais h2{
    font-size: 20px;
    font-weight: 600;
    font-family: helvetica; 
    margin-left:22%;
    margin-top: -135px;
    color: white;

}


.redes-sociais ul{
    list-style: none;
    padding: 0% 22%;
   
}
.redes-sociais ul li{
    font-size: 12px;
    color: white;

 
}

.redes-sociais ul li a:link {
    text-decoration: none;
    color:white;
    border-color: black;
 }

.redes-sociais ul li a:visited {
  text-decoration: none;
  color:white;

}

.redes-sociais ul li a:hover {
 transition-duration: 2s; 
 color: #FF0000;
 }

.redes-sociais ul li a:active {
  text-decoration: underline;
  color:white;

}